
h1 {
    color: #2bbe50;
}

div {
    text-align: center;
  }

img {
    width: 400px;
    
    
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

#thirdDiv {
    background-color: green;
    width: 500px;
    height: 600px;
    padding: 50px;
    border-top: 1px solid MidnightBlue;
    border-right: 1px solid MidnightBlue;
    border-bottom: 1px solid MidnightBlue;
    border-left: 1px solid MidnightBlue;
    margin-left: auto;
    margin-right: auto;
}

